nav {
  max-width: 980px;
  background-color: #383639;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: #5dbbfb;
}
